@font-face {
    font-family: 'Averta';
    src: url('../../fonts/Averta/AvertaStdCY-Extrabold.woff2') format('woff2'),
    url('../../fonts/Averta/AvertaStdCY-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../../fonts/Averta/AvertaStdCY-Extrathin.woff2') format('woff2'),
    url('../../fonts/Averta/AvertaStdCY-Extrathin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../../fonts/Averta/AvertaStdCY-ExtrathinItalic.woff2') format('woff2'),
    url('../../fonts/Averta/AvertaStdCY-ExtrathinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../../fonts/Averta/AvertaStdCY-ExtraboldItalic.woff2') format('woff2'),
    url('../../fonts/Averta/AvertaStdCY-ExtraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../../fonts/Averta/AvertaStdCY-LightItalic.woff2') format('woff2'),
    url('../../fonts/Averta/AvertaStdCY-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../../fonts/Averta/AvertaStdCY-Regular.woff2') format('woff2'),
    url('../../fonts/Averta/AvertaStdCY-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../../fonts/Averta/AvertaStdCY-RegularItalic.woff2') format('woff2'),
    url('../../fonts/Averta/AvertaStdCY-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../../fonts/Averta/AvertaStdCY-Light.woff2') format('woff2'),
    url('../../fonts/Averta/AvertaStdCY-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../../fonts/Averta/AvertaStdCY-Thin.woff2') format('woff2'),
    url('../../fonts/Averta/AvertaStdCY-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../../fonts/Averta/AvertaStdCY-SemiboldItalic.woff2') format('woff2'),
    url('../../fonts/Averta/AvertaStdCY-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../../fonts/Averta/AvertaStdCY-Semibold.woff2') format('woff2'),
    url('../../fonts/Averta/AvertaStdCY-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../../fonts/Averta/AvertaStdCY-ThinItalic.woff2') format('woff2'),
    url('../../fonts/Averta/AvertaStdCY-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../../fonts/Averta/AvertaStdCY-Black.woff2') format('woff2'),
    url('../../fonts/Averta/AvertaStdCY-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../../fonts/Averta/AvertaStdCY-BoldItalic.woff2') format('woff2'),
    url('../../fonts/Averta/AvertaStdCY-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../../fonts/Averta/AvertaStdCY-Bold.woff2') format('woff2'),
    url('../../fonts/Averta/AvertaStdCY-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('../../fonts/Averta/AvertaStdCY-BlackItalic.woff2') format('woff2'),
    url('../../fonts/Averta/AvertaStdCY-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('../../fonts/SanFrancisco/SanFranciscoText-Heavy.woff2') format('woff2'),
    url('../../fonts/SanFrancisco/SanFranciscoText-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('../../fonts/SanFrancisco/SanFranciscoText-Italic.woff2') format('woff2'),
    url('../../fonts/SanFrancisco/SanFranciscoText-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('../../fonts/SanFrancisco/SanFranciscoText-Bold.woff2') format('woff2'),
    url('../../fonts/SanFrancisco/SanFranciscoText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('../../fonts/SanFrancisco/SanFranciscoText-Light.woff2') format('woff2'),
    url('../../fonts/SanFrancisco/SanFranciscoText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('../../fonts/SanFrancisco/SanFranciscoText-Medium.woff2') format('woff2'),
    url('../../fonts/SanFrancisco/SanFranciscoText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('../../fonts/SanFrancisco/SanFranciscoText-BoldItalic.woff2') format('woff2'),
    url('../../fonts/SanFrancisco/SanFranciscoText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('../../fonts/SanFrancisco/SanFranciscoText-Regular.woff2') format('woff2'),
    url('../../fonts/SanFrancisco/SanFranciscoText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('../../fonts/SanFrancisco/SanFranciscoText-Semibold.woff2') format('woff2'),
    url('../../fonts/SanFrancisco/SanFranciscoText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'San Francisco Text';
    src: url('../../fonts/SanFrancisco/SanFranciscoText-Thin.woff2') format('woff2'),
    url('../../fonts/SanFrancisco/SanFranciscoText-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
