@import 'mixin.scss';
.header{
    padding: 23px 0;
    &-logo{
        margin-right: 10px;
    }
    &-nav{
        text-wrap: nowrap;
        &__item{
            background-image: url('../../../storage/app/public/images/slides/slide-header-2.jpg');

            font-weight: 700;
            font-size: 12px;
            line-height: 1.5em;
            padding: 10px;
            border-radius: 20px;
            transition: 0.3s all;
            &:hover{
                background: #00AEEF;
                color: white;
                transition: 0.3s all;
            }
        }
        .active{
            background: #00AEEF;
            color: white;
        }
    }
    &-icon{
        margin-top: 5px;
        &__item{
            margin:0 7px ;
        }
        i{
            font-size: 34px;
        }
    }
}
