@font-face {
    font-family: 'Averta';
    src: url('AvertaStdCY-Extrabold.woff2') format('woff2'),
        url('AvertaStdCY-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('AvertaStdCY-Extrathin.woff2') format('woff2'),
        url('AvertaStdCY-Extrathin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('AvertaStdCY-ExtrathinItalic.woff2') format('woff2'),
        url('AvertaStdCY-ExtrathinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('AvertaStdCY-ExtraboldItalic.woff2') format('woff2'),
        url('AvertaStdCY-ExtraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('AvertaStdCY-LightItalic.woff2') format('woff2'),
        url('AvertaStdCY-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('AvertaStdCY-Regular.woff2') format('woff2'),
        url('AvertaStdCY-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('AvertaStdCY-RegularItalic.woff2') format('woff2'),
        url('AvertaStdCY-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('AvertaStdCY-Light.woff2') format('woff2'),
        url('AvertaStdCY-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('AvertaStdCY-Thin.woff2') format('woff2'),
        url('AvertaStdCY-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('AvertaStdCY-SemiboldItalic.woff2') format('woff2'),
        url('AvertaStdCY-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('AvertaStdCY-Semibold.woff2') format('woff2'),
        url('AvertaStdCY-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('AvertaStdCY-ThinItalic.woff2') format('woff2'),
        url('AvertaStdCY-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('AvertaStdCY-Black.woff2') format('woff2'),
        url('AvertaStdCY-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('AvertaStdCY-BoldItalic.woff2') format('woff2'),
        url('AvertaStdCY-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('AvertaStdCY-Bold.woff2') format('woff2'),
        url('AvertaStdCY-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('AvertaStdCY-BlackItalic.woff2') format('woff2'),
        url('AvertaStdCY-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

